<%
content_for(:title,  "Chunk details: #{@chunk.title}")
content_for(:active_navigation_item, admin_search_path)
%>

<% if @back_link %>
  <%= content_for(:back_link, render("govuk_publishing_components/components/back_link",
                                    text: "Back to results",
                                    href: @back_link) ) %>
<% end %>
<% html_content = capture do %>
  <%= render("govuk_publishing_components/components/govspeak") do %>
    <%= @chunk.html_content.html_safe %>
  <% end %>

  <%= render("govuk_publishing_components/components/details", { title: "Raw html" }) do %>
    <%= render("components/code_snippet", content: @chunk.html_content) %>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= render "govuk_publishing_components/components/summary_list", {
      items: [
        { field: "Title", value: @chunk.title },
        { field: "URL", value: link_to(@chunk.exact_path, "#{Plek.website_root}#{@chunk.exact_path}", class: "govuk-link") },
        { field: "Chunk number", value: "#{@chunk.chunk_index + 1} of #{@chunks_for_base_path}" },
        { field: "Heading hierarchy", value: @chunk.heading_hierarchy.join(" | ") },
        { field: "Description", value: @chunk.description},
        { field: "Score calculation <br/>(score * weighting)".html_safe, value: @score_calculation },
        { field: "Document type", value: @chunk.document_type},
        { field: "Html content", value: html_content },
        { field: "Search content", value: render("govuk_publishing_components/components/govspeak") { simple_format(@chunk.plain_content) } },
      ],
    } %>
  </div>
</div>
