<%= content_for :title, "Revoke access" %>

<%= content_for :breadcrumbs do %>
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    collapse_on_mobile: true,
    breadcrumbs: [
      {
        title: "Early access users",
        url: admin_early_access_users_path,
      },
      {
        title: "User details",
        url: admin_early_access_user_path(@user),
      },
      {
        title: "Revoke access",
      },
    ],
  } %>
<% end %>

<%= render "shared/error_summary",
  model: @form,
  anchor_mappings: {
    revoke_reason: "#revoke-reason",
  } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: revoke_confirm_admin_early_access_user_path(@user), method: :patch do |f| %>
      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          heading_size: "l",
          heading_level: 2,
          text: "Reason for revoking access",
        },
        name: "access_form[revoke_reason]",
        id: "revoke-reason",
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: "Submit",
      } %>
    <% end %>
  </div>
</div>
