<%
  data_attributes ||= {}
  sources ||= []
%>

<%= tag.div id:, class: "app-c-answer", data: data_attributes do %>
  <div class="app-c-answer__identifier">
    <%= inline_svg_tag "components/answer/chat-icon.svg", class: "app-c-answer__identifier-icon" , aria_hidden: true %>

    <h2 class="app-c-answer__identifier-heading">
      GOV.UK Chat <span aria-hidden="true">(experimental)</span>
    </h2>
  </div>

  <div class="app-c-answer__message">
    <div class="app-c-answer__message-text">
      <%= message %>
    </div>

    <% if sources.present? %>
      <div class="app-c-answer__sources">
        <%= render "govuk_publishing_components/components/details", {
          title: "Show pages used to generate this answer"
        } do %>
            <%= render "govuk_publishing_components/components/list", {
              visible_counters: true,
              items: sources.map do |source|
                link_to(source, source, class: "govuk-link", target: "_blank", rel: "noopener noreferrer")
              end
            } %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
