<%
  answer_feedback_button_data = {
    "event_name": "form_submit",
    "type": "chat answer feedback",
    "section": "How was this answer?",
  }
  user_id ||= nil
%>

<%= content_tag :div, class: "app-c-answer-feedback js-answer-feedback", data: { module: "answer-feedback" } do %>
  <%= form_with url:, class: "app-c-answer-feedback__form js-form", data: { module: "ga4-event-tracker" } do |f| %>
    <fieldset class="app-c-answer-feedback__fieldset">
      <legend class="app-c-answer-feedback__legend">How was this answer?</legend>
      <div class="app-c-answer-feedback__button-group">
        <%= button_tag(
          safe_join([tag.span('The answer to "' + question_message + '" was ', class: "govuk-visually-hidden"), "Useful"]),
          class: "app-c-answer-feedback__button",
          name: "create_answer_feedback[useful]",
          value: "true",
          data: {
            ga4_event: answer_feedback_button_data.merge({ "text": "Useful" }),
          },
        ) %>
        <span class="govuk-body"> or </span>
        <%= button_tag(
          "#{tag.span('The answer was ', class: 'govuk-visually-hidden')}not useful".html_safe,
          class: "app-c-answer-feedback__button",
          name: "create_answer_feedback[useful]",
          value: "false",
          data: {
            ga4_event: answer_feedback_button_data.merge({ "text": "Not useful" }),
          },
        ) %>
      </div>
    </fieldset>
  <% end %>

  <div class="app-c-answer-feedback__feedback-submitted js-feedback-submitted" tabindex="-1" hidden>
    <p class="govuk-body">
      Thanks. <%= link_to(
                "Share feedback about your chat (opens in a new tab)",
                "https://surveys.publishing.service.gov.uk/s/govuk-chat-beta/?user=#{user_id}&source=answer_feedback",
                class: "govuk-body govuk-link govuk-link--no-visited-state js-survey-link",
                target: "_blank",
                rel: "noopener noreferrer",
                data: {
                  module: "ga4-link-tracker",
                  ga4_link: {
                    "event_name": "navigation",
                    "type": "generic link",
                    "index": {
                      "index_link": 1,
                    },
                    "index_total": 1,
                    "section": "Was this answer useful?",
                  },
                },
              ) %>
    </p>
  </div>
<% end %>
