<%
  url_helpers = Rails.application.routes.url_helpers
  signed_in ||= false
  conversation ||= false
  active_conversation ||= false

  data_attributes = { module: "chat-header" }
  data_attributes[:add_print_utility] = true if conversation

  navigation_items ||= []

  clear_chat_link_class = %w[app-c-header__clear-chat js-header-clear-chat]
  clear_chat_link_class << "app-c-header__clear-chat--focusable-only" unless active_conversation
%>

<%= content_tag :header, class: "app-c-header govuk-header govuk-!-display-none-print", role: "banner", data: data_attributes do %>
  <div class="app-c-header__container govuk-header__container govuk-width-container">
    <div class="app-c-header-row govuk-grid-row">
      <div class="app-c-header__logo govuk-grid-column-full">
        <div class="mobile-top-icons">
          <span class="mobile-top-icons__time"><time>9:41</time></span>
          <span class="mobile-top-icons__icons">
            <%= inline_svg_tag "mobile_icons/ios/mobile-signal.svg", class: "mobile-top-icons__icons-signal", aria_hidden: true %>
            <%= inline_svg_tag "mobile_icons/ios/wifi.svg", class: "mobile-top-icons__icons-wifi", aria_hidden: true %>
            <%= inline_svg_tag "mobile_icons/ios/battery.svg", class: "mobile-top-icons__icons-battery", aria_hidden: true %>
          </span>
        </div>
        <div>
          <span class="app-c-header__product-name">Chat</span>
        </div>
      </div>

      <%= content_tag(
        :div,
        class: "app-c-header__nav-container js-header-nav-container govuk-grid-column-full",
        data: {
          module: "ga4-link-tracker",
          ga4_link: {
            "event_name": "navigation",
            "type": "header menu bar",
            "section": "About and support",
          },
          ga4_track_links_only: "",
          ga4_set_indexes: "",
        },
      ) do %>
        <%= render "govuk_publishing_components/components/layout_header/navigation_items", navigation_items: navigation_items %>
      <% end %>
    </div>
  </div>
<% end %>
