<%
  id ||= "#{name.parameterize}-#{SecureRandom.hex(4)}"
  value ||= nil

  maxlength = 300
  hint = "Please limit your question to #{maxlength} characters."
  hint_id = "#{id}-hint"

  error_items ||= []
  has_error ||= error_items.any?
  error_id = "#{id}-error"

  aria_described_by = []
  aria_described_by << hint_id
  aria_described_by << error_id if has_error
  aria_described_by = aria_described_by.join(" ")
%>

<%= content_tag :div, class: "app-c-conversation-input" do %>
  <%= content_tag :div, class: "app-c-conversation-input__wrapper" do %>
    <%= label_tag(
      id,
      "Enter your question (please do not share personal or sensitive information in your conversations with GOV UK chat)",
      class: "app-c-conversation-input__label govuk-visually-hidden",
    ) %>

    <%= text_field_tag(
      id,
      value,
      class: "app-c-conversation-input__input",
      aria: {
        describedby: aria_described_by
      },
      name: name,
      maxlength:,
      required: true,
    ) %>

    <%= button_tag("Send", class: "app-c-conversation-input__submit") %>
  <% end %>

  <% if has_error %>
    <%= render "govuk_publishing_components/components/error_message", {
      id: error_id,
      items: error_items,
    } %>
  <% end %>

  <div class="govuk-visually-hidden">
    <%= render "govuk_publishing_components/components/hint", {
      id: hint_id,
      text: hint,
    } %>
  </div>
<% end %>
