<%
  data_attributes ||= {}
  id ||= nil
  sources ||= []
  is_question ||= false
  is_loading ||= false
  feedback_url ||= false
  skip_sanitize ||= false
  message_classes = %w[app-c-conversation-message__message]
  message_classes << (is_question ? "app-c-conversation-message__message--user-message"
  : "app-c-conversation-message__message--govuk-message")
  status ||= nil
%>

<%= content_tag :li, id:, class: "app-c-conversation-message js-conversation-message", data: data_attributes do %>
  <%= content_tag :div, class: message_classes do %>
    <div class="app-c-conversation-message__identifier">
      <% if !is_question %>
        <%=
          inline_svg_tag "mobile_icons/ios/speech-bubble.svg",
          class: "app-c-conversation-message__identifier-icon",
          aria_hidden: true
        %>
      <% end %>
      <span class="govuk-visually-hidden">
        <% if is_question %>
          You:
        <% else %>
          GOV.UK Chat:
        <% end %>
      </span>
    </div>

    <% if is_question %>
      <div class="app-c-conversation-message__body app-c-conversation-message__body--user-message">
        <% if is_loading %>
          <p class="app-c-conversation-message__loading-text govuk-body">
            Loading your question<span class="app-c-conversation-message__loading-ellipsis" aria-hidden="true">...</span>
          </p>
        <% else %>
          <%= render "govuk_publishing_components/components/govspeak" do %>
            <%= escaped_simple_format(message) %>
          <% end %>
        <% end %>
      </div>

    <% else %>
      <div class="app-c-conversation-message__body app-c-conversation-message__body--govuk-message">
        <% if is_loading %>
          <p class="app-c-conversation-message__loading-text govuk-body">
            Generating your answer<span class="app-c-conversation-message__loading-ellipsis" aria-hidden="true">...</span>
          </p>
        <% else %>
          <%= content_tag(
            :div,
            class: "app-c-conversation-message__answer",
            data: {
              module: "ga4-link-tracker",
              ga4_link: {
                "event_name": "navigation",
                "type": "chat message",
                "section": "answer",
              },
              ga4_track_links_only: "",
              ga4_set_indexes: "",
            },
          ) do %>
            <%= render_answer_message(message, skip_sanitize:) %>
          <% end %>

          <% if sources.present? %>
            <%= render "components/conversation_sources", {
              sources: sources,
            } %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if status === "answered" %>
    <div class="app-c-conversation-message__message app-c-conversation-message__message--accuracy-warning">
      <div class="app-c-conversation-message__identifier">
        <% if !is_question %>
          <%=
            inline_svg_tag "mobile_icons/ios/speech-bubble-white.svg",
            class: "app-c-conversation-message__identifier-icon",
            aria_hidden: true
          %>
        <% end %>
      </div>
      
      <div class="app-c-conversation-message__body app-c-conversation-message__body--accuracy-warning">
        <div class="accuracy-warning">
          <%= inline_svg_tag "mobile_icons/ios/accuracy-warning-icon.svg", class: "accuracy-warning-icon", aria_hidden: true %>
          <p class="govuk-body govuk-!-margin-bottom-0">Chat can make mistakes. Check GOV.UK pages directly for important information.</p>
        </div>
      </div>
    </div>
  <% end %>

  <% if feedback_url.present? %>
    <div class="app-c-conversation-message__feedback govuk-!-display-none-print">

      <%= render "components/answer_feedback", {
        url: feedback_url,
        question_message: question_message,
      } %>
    </div>
  <% end %>
<% end %>
