<%
  input_id ||= "#{name.parameterize}-#{SecureRandom.hex(4)}"
  value ||= nil
  user_id ||= nil

  maxlength = Form::CreateQuestion::USER_QUESTION_LENGTH_MAXIMUM
  presence_error_message = Form::CreateQuestion::USER_QUESTION_PRESENCE_ERROR_MESSAGE
  # After entering this percentage of the maxlength, the user will see the character count hint
  character_count_threshold = 80

  hint = "Please limit your question to #{maxlength} characters."
  hint_id = "#{input_id}-info" # The character-count component relies on an element with this ID being present

  error_items ||= []
  has_error ||= error_items.any?
  error_id = "#{input_id}-error"

  aria_described_by = []
  aria_described_by << hint_id
  aria_described_by << error_id if has_error
  aria_described_by = aria_described_by.join(" ")

  data_attributes = {
    module: "conversation-form",
    maxlength: maxlength,
    threshold: character_count_threshold,
    "presence-error-message": presence_error_message,
    "hint-id": hint_id,
  }

  form_group_classes = " app-c-conversation-form__form-group js-conversation-form-group"
  form_group_classes << " app-c-conversation-form__form-group--error" if error_items.any?

  input_classes = "app-c-conversation-form__input js-conversation-form-input govuk-js-character-count"
  input_classes << " app-c-conversation-form__input--error" if error_items.any?
%>

<%= tag.div class: "app-c-conversation-form js-conversation-form-wrapper", data: data_attributes do %>
  <%= form_with url: url, class: "app-c-conversation-form__form js-conversation-form", data: { module: "ga4-form-tracker", ga4_form: { "event_name": "form_response", "type": "GOV.UK Chat user input", "section": "Enter your question" } } do |f| %>
    <%= tag.ul(
      id: error_id,
      class: %w[govuk-list govuk-error-message js-conversation-form-errors-wrapper app-c-conversation-form__error-list],
      hidden: !has_error) do %>
      <% error_items.each do |error| %>
        <li class="app-c-conversation-form__error-message">
          <span class="govuk-visually-hidden">Error:</span>
          <%= error[:text] %>
        </li>
      <% end %>
    <% end %>

    <%= content_tag :div, class: form_group_classes do %>
      <%= content_tag :div, class: "app-c-conversation-form__input-wrapper" do %>
        <%= label_tag(
          input_id,
          "Enter your question (please do not share personal or sensitive information in your conversations with GOV UK chat)",
          class: "app-c-conversation-form__label js-conversation-form-label govuk-visually-hidden",
        ) %>

        <%= content_tag :div, class: "app-c-conversation-form__input-character-count-wrapper" do %>
          <%= text_field_tag(
            input_id,
            value,
            class: input_classes,
            aria: {
              describedby: aria_described_by,
            },
            name: name,
          ) %>
        <% end %>

        <div class="govuk-visually-hidden">
          <%= render "govuk_publishing_components/components/hint", {
            id: hint_id,
            text: hint,
          } %>
        </div>
      <% end %>

      <% send_text = capture do %>
        Send
        <%= content_tag :span, "message to GOV.UK Chat",
          class: "govuk-visually-hidden" %>
        <%= content_tag :span, "",
          aria: { live: "assertive" },
          data: { awaiting_response_text: "GOV.UK Chat is generating a response to your question" },
          class: "govuk-visually-hidden js-conversation-form-button__response-status" %>
      <% end %>

      <%= content_tag :div, class: "app-c-conversation-form__button-wrapper" do %>
        <%= render "components/blue_button", {
          text: send_text,
          conversation_form_button: true,
        } %>
      <% end %>
    <% end %>
  <% end %>

  <%= link_to(
    "Share your feedback (opens in a new tab)",
    "https://surveys.publishing.service.gov.uk/s/govuk-chat-beta/?user=#{user_id}",
    class: "govuk-body govuk-link govuk-link--no-visited-state app-c-conversation-form__survey-link js-survey-link",
    target: "_blank",
    rel: "noopener noreferrer",
    data: {
      module: "ga4-link-tracker",
      ga4_link: {
        "event_name": "navigation",
        "index": {
          "index_link": 1,
        },
        "index_total": 1,
      },
    },
  ) %>
<% end %>
