<%
  data_attributes ||= {}
  sources ||= []
  is_question ||= false
  classes = %w[app-c-conversation-message]
  classes << (is_question ? "app-c-conversation-message--user-message"
  : "app-c-conversation-message--govuk-message")
%>

<%= tag.div id:, class: classes, data: data_attributes do %>
  <div class="app-c-conversation-message__identifier">
    <% if !is_question %>
      <%=
        inline_svg_tag "components/conversation_message/govuk-chat-icon.svg",
        class: "app-c-conversation-message__identifier-icon",
        aria_hidden: true
      %>
    <% end %>
    <span class="govuk-visually-hidden">
      <% if is_question %>
        You:
      <% else %>
        GOV.UK Chat:
      <% end %>
    </span>
  </div>

  <% if is_question %>
    <div class="app-c-conversation-message__body app-c-conversation-message__body--user-message">
      <%= render "govuk_publishing_components/components/govspeak", {
      } do %>
        <%= escaped_simple_format(message) %>
      <% end %>
    </div>

  <% else %>
    <div class="app-c-conversation-message__body app-c-conversation-message__body--govuk-message">
      <div class="app-c-conversation-message__answer">
        <%= render_answer_message(message) %>
      </div>

      <% if sources.present? %>
        <div class="app-c-conversation-message__sources">
          <%= render "govuk_publishing_components/components/warning_text", {
            text_assistive: "Warning",
            text: "Check this answer (links open in a new tab)",
          } %>

          <%= render "govuk_publishing_components/components/list", {
            visible_counters: true,
            items: sources.map do |source|
              link_to(source, source, class: "govuk-link", target: "_blank", rel: "noopener noreferrer")
            end,
          } %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
