<%
  data_attributes ||= {}
  id ||= nil
  sources ||= []
  is_question ||= false
  is_loading ||= false
  feedback_url ||= false
  skip_sanitize ||= false
  show_identifier ||= false
  message_classes = %w[app-c-conversation-message__message]
  message_classes << (is_question ? "app-c-conversation-message__message--user-message"
  : "app-c-conversation-message__message--govuk-message")
  message_identifier_classes = %w[app-c-conversation-message__identifier]
  message_identifier_classes << (show_identifier ? "" : "govuk-visually-hidden")
%>

<%= content_tag :li, id:, class: "app-c-conversation-message js-conversation-message", data: data_attributes do %>
  <%= content_tag :div, class: message_classes do %>
    <% if is_question %>
      <% if is_loading %>
        <div class="app-c-conversation-message__body app-c-conversation-message__body--user-message">
          <p class="app-c-conversation-message__loading-text govuk-body">
            Loading your question<span class="app-c-conversation-message__loading-ellipsis" aria-hidden="true">...</span>
          </p>
        </div>
      <% else %>
        <div class="app-c-conversation-message__body app-c-conversation-message__body--user-message">
          <%= content_tag :span, class: message_identifier_classes do %>
            You
          <% end %>
          <%= render "govuk_publishing_components/components/govspeak" do %>
            <%= escaped_simple_format(message) %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <% if is_loading %>
        <span class="app-c-conversation-message__loading-icon-container">
          <%= inline_svg_tag "components/conversation_message/govuk-chat-message-loading-icon.svg", class: "app-c-conversation-message__loading-icon", aria_hidden: true %>
        </span>

        <div class="app-c-conversation-message__body app-c-conversation-message__body--loading-message">
          <p class="app-c-conversation-message__loading-text govuk-body">
            Generating your answer<span class="app-c-conversation-message__loading-ellipsis" aria-hidden="true">...</span>
          </p>
        </div>
      <% else %>
        <div class="app-c-conversation-message__body app-c-conversation-message__body--govuk-message">
          <%= content_tag :span, class: message_identifier_classes do %>
            GOV.UK Chat
          <% end %>

          <%= content_tag(
            :div,
            class: "app-c-conversation-message__answer",
            data: {
              module: "ga4-link-tracker",
              ga4_link: {
                "event_name": "navigation",
                "type": "chat message",
                "section": "answer",
              },
              ga4_track_links_only: "",
              ga4_set_indexes: "",
            },
          ) do %>
            <%= render_answer_message(message, skip_sanitize:) %>
          <% end %>

          <% if sources.present? %>
            <%= render "components/conversation_sources", {
              sources: sources,
            } %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <% if feedback_url.present? %>
    <div class="app-c-conversation-message__feedback govuk-!-display-none-print">

      <%= render "components/answer_feedback", {
        url: feedback_url,
        question_message: question_message,
      } %>
    </div>
  <% end %>
<% end %>
