<% content_for(:browser_title, user_research_question_text(:found_chat)) %>
<%= render "shared/error_summary",
  model: @found_chat_form,
  anchor_mappings: { choice: "#found_chat_form_choice" } %>
<%= content_for(:back_link, render("govuk_publishing_components/components/back_link",
                                  href: sign_up_reason_for_visit_path) ) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: sign_up_found_chat_path do %>
      <%= render "govuk_publishing_components/components/radio", {
        id: "found_chat_form_choice",
        name: "found_chat_form[choice]",
        heading: user_research_question_text(:found_chat),
        heading_caption: "Question 3 of 3",
        heading_level: 1,
        error_items: error_items(@found_chat_form, :choice),
        items: user_research_question_items_for_radio(:found_chat, checked: @found_chat_form.choice),
      } %>

      <%= render "components/blue_button", {
        text: "Submit answers",
      } %>
    <% end %>
  </div>
</div>
