<%= content_for :title, "GOV.UK Chat" %>
<%= content_for :error_summary do %>
  <% if @create_question.errors.any? %>
    <%= render "govuk_publishing_components/components/error_summary", {
      title: "There is a problem",
      items: error_items(@create_question, :user_question, "#create_question_user_question")
    } %>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render "components/conversation_message", {
      id: "initial-message",
      message: tag.p("Hello 👋 I'm GOV.UK Chat. I use the guidance on GOV.UK to answer questions.", class: "app-c-conversation-message__p") +
      tag.p(
        "You can ask me anything about business or trade - just don't include personal or sensitive data and please limit your question to 300 characters or less.",
        class: "app-c-conversation-message__p"
      ),
    } %>

    <%= render "govuk_publishing_components/components/list", {
      items: @conversation.questions.each_with_index.map do |question, index|
        answer = question.answer
        render "question_and_answer", question:, index:, answer:
      end
    } %>

    <%
      form_url = @conversation.persisted? ? update_conversation_path(@conversation) : create_conversation_path
      http_method = @conversation.persisted? ? :patch : :post
    %>

    <%= form_with url: form_url, method: http_method do |f| %>
      <%= render "govuk_publishing_components/components/character_count", {
        textarea: {
          label: {
            text: "Enter a question",
            heading_size: "l",
          },
          name: "create_question[user_question]",
          value: @create_question.user_question,
          error_items: @create_question.errors[:user_question].map { |message| { text: message } }
        },
        id: "create_question_user_question",
        maxlength: 300
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: "Submit"
      } %>
    </div>
  <% end %>
</div>
