<%= content_for :title, "GOV.UK Chat" %>
<%= content_for :error_summary do %>
  <% if @create_question.errors.any? %>
    <%
      error_items = @create_question.errors.map do |error|
        href = error.attribute == :user_question ? "#create_question_user_question" : nil
        { text: error.message, href: }
      end
    %>
    <%= render "govuk_publishing_components/components/error_summary", {
      title: "There is a problem",
      items: error_items
    } %>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render "components/answer", {
      id: "initial-message",
      message: tag.p("Hello 👋 I'm GOV.UK Chat. I use the guidance on GOV.UK to answer questions.", class: "govuk-body") +
      tag.p(
        "You can ask me anything about business or trade - just don't include personal or sensitive data and please limit your question to 300 characters or less.",
        class: "govuk-body govuk-!-margin-bottom-0"
      ),
    } %>

    <%= render "govuk_publishing_components/components/list", {
      items: @create_question.conversation.questions.each_with_index.map do |question, index|
        answer = question.answer
        render "question_and_answer", question:, index:, answer:
      end
    } %>

    <%= form_with url: create_conversation_path do |f| %>
      <%= render "govuk_publishing_components/components/character_count", {
        textarea: {
          label: {
            text: "Enter a question",
            heading_size: "l",
          },
          name: "create_question[user_question]",
          value: @create_question.user_question,
          error_items: @create_question.errors[:user_question].map { |message| { text: message } }
        },
        id: "create_question_user_question",
        maxlength: 300
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: "Submit"
      } %>
    </div>
  <% end %>
</div>
