<%= content_for :title, "Edit waiting list user" %>

<%= content_for :breadcrumbs do %>
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    collapse_on_mobile: true,
    breadcrumbs: [
      {
        title: "Waiting list users",
        url: admin_waiting_list_users_path,
      },
      {
        title: "User details",
        url: admin_waiting_list_user_path(@user),
      },
      {
        title: "Edit user",
      },
    ],
  } %>
<% end %>

<%= render "shared/error_summary",
  model: @form,
  anchor_mappings: {
    email: "#waiting_list_user_form_email",
  } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "form", form: @form, url: admin_waiting_list_user_path(@user), method: :patch %>
  </div>
</div>
