<%= content_for :title, "Promote to early access user" %>

<%= content_for :breadcrumbs do %>
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    collapse_on_mobile: true,
    breadcrumbs: [
      {
        title: "Waiting list users",
        url: admin_waiting_list_users_path,
      },
      {
        title: "User details",
        url: admin_waiting_list_user_path(@user),
      },
      {
        title: "Promote to early access user",
      },
    ],
  } %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">Are you sure you want to promote this user to an early access user?</p>
    <p class="govuk-body">This will send them a magic link allowing them to sign in.</p>

    <%= form_with url: promote_admin_waiting_list_user_path(@user), method: :post do |f| %>
      <%= render "govuk_publishing_components/components/button", {
        text: "Yes, promote this user",
      } %>
    <% end %>
  </div>
</div>
