<%= content_for :title, "Try GOV.UK Chat" %>
<%= render "shared/error_summary",
  model: @sign_in_or_up_form,
  anchor_mappings: {
    email: "#sign_in_or_up_form_email",
  } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/lead_paragraph", {
      text:  "An experimental new way to find answers to your business questions, powered by AI.",
    } %>

    <%= form_with url: early_access_entry_sign_in_or_up_path do |f| %>
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "To get started, enter your email address.",
        },
        name: "sign_in_or_up_form[email]",
        id: "sign_in_or_up_form_email",
        value: @sign_in_or_up_form.email,
        heading_level: 2,
        heading_size: "l",
        error_items: error_items(@sign_in_or_up_form, :email),
      } %>

      <%= render "components/blue_button", {
        text: "Get started",
        start: true,
      } %>

      <p class="govuk-body govuk-!-margin-top-4">
        If you've already signed up you'll be able to request new links to access GOV.UK Chat.
      </p>
    <% end %>
  </div>
</div>
