<%= content_for :title, "Edit sign up enabled" %>
<%= content_for :title_context, "Settings" %>
 <%= content_for(:back_link, render("govuk_publishing_components/components/back_link",
                                    href: admin_settings_path) ) %>
<% if @form.errors.any? %>
  <%= content_for :error_summary do %>
    <%= render "govuk_publishing_components/components/error_summary", {
      title: "There is a problem",
      items: error_items_for_summary_component(
        @form,
        {
          author_comment: "#sign_up_enabled_form_author_comment",
        },
      ),
    } %>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: admin_update_sign_up_enabled_path, method: :patch do |f| %>
        <%= render "govuk_publishing_components/components/radio", {
        heading: "Sign up enabled",
        heading_size: "l",
        heading_level: 2,
        margin_bottom: 8,
        name: "sign_up_enabled_form[enabled]",
        items: [
          {
            value: "true",
            text: "Yes",
            checked: @form.enabled,

          },
          {
            value: "false",
            text: "No",
            checked: !@form.enabled,
          },
        ],
      } %>

      <%= render "govuk_publishing_components/components/character_count", {
        textarea: {
          label: {
            heading_size: "l",
            heading_level: 2,
            text: "Author comment (optional)",
          },
          name: "sign_up_enabled_form[author_comment]",
          value: @form.author_comment,
          error_items: error_items(@form, :author_comment),
        },
        id: "sign_up_enabled_form_author_comment",
        maxlength: 250,
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: "Submit",
      } %>
    <% end %>
  </div>
</div>
