<%
content_for(:title, "Edit waiting list promotions per run")
content_for(:title_context, "Settings")
content_for(:active_navigation_item, admin_settings_path)
content_for(:back_link, render("govuk_publishing_components/components/back_link", href: admin_settings_path))
%>

<%= render "shared/error_summary",
  model: @form,
  anchor_mappings: {
    promotions_per_run: "#waiting_list_promotions_per_run_form_promotions_per_run",
    author_comment: "#waiting_list_promotions_per_run_form_author_comment",
  } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: admin_settings_edit_waiting_list_promotions_per_run_path, method: :patch do |f| %>
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Promotions per run",
        },
        id: "waiting_list_promotions_per_run_form_promotions_per_run",
        name: "waiting_list_promotions_per_run_form[promotions_per_run]",
        hint: "This sets the number of waiting list users that will be promoted "\
              "to early access user on the hourly run.",
        value: @form.promotions_per_run,
        heading_level: 2,
        heading_size: "l",
        error_items: error_items(@form, :promotions_per_run),
      } %>

      <%= render "admin/settings/shared/author_comment",
                 form: @form,
                 setting: "waiting_list_promotions_per_run" %>

      <%= render "govuk_publishing_components/components/button", {
        text: "Submit",
      } %>
    <% end %>
  </div>
</div>
