<%= content_for :title, "Help and support" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">If you have a problem accessing GOV.UK Chat</h2>

    <p class="govuk-body">
      To report a technical issue, use the
      <%= link_to("GOV.UK Chat technical fault form (opens in a new tab)",
                  "https://surveys.publishing.service.gov.uk/s/govuk-chat-support/",
                  class: "govuk-link",
                  target: "_blank",
                  rel: "noopener noreferrer") %>.
    </p>

    <p class="govuk-body">
      If you need a new link to access GOV.UK Chat, enter your email address
      on the
      <%= link_to("GOV.UK Chat start page", chat_path, class: "govuk-link") %>.
    </p>

    <p class="govuk-body">
      For help accessing GOV.UK Chat, reply to any email you’ve received from GOV.UK Chat.
    </p>

    <h2 class="govuk-heading-m">If you have a question about something on GOV.UK</h2>

    <p class="govuk-body">
      Contact the government department directly if your question is about a service or policy, like tax or visas.
    </p>

    <p class="govuk-body">
      Use GOV.UK to:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <%= link_to("search for a government department (opens in a new tab)",
          "#{Plek.website_root}/government/organisations",
          class: "govuk-link",
          target: "_blank",
          rel: "noopener") %>
      </li>
      <li>
        <%= link_to("find contact details for common services (opens in a new tab)",
          "#{Plek.website_root}/contact",
          class: "govuk-link",
          target: "_blank",
          rel: "noopener") %>
      </li>
    </ul>

    <h2 class="govuk-heading-m">If you'd like to know more about GOV.UK Chat</h2>

    <p class="govuk-body">
      Visit <%= link_to("about GOV.UK Chat", about_path, class: "govuk-link") %>
      to learn how the tool works, its limitations and how to use it safely.</p>

    <p class="govuk-body">
      Subscribe to the
      <%= link_to("Inside GOV.UK blog (opens in a new tab)",
                  "https://insidegovuk.blog.gov.uk/subscribe/",
                  class: "govuk-link",
                  target: "_blank",
                  rel: "noopener") %>
      for updates about GOV.UK Chat.
    </p>

    <h3 class="govuk-heading-s">Privacy and accessibility</h3>

    <p class="govuk-body">
      Visit GOV.UK for information about:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li><%= link_to("accessibility on GOV.UK Chat", accessibility_path, class: "govuk-link") %></li>
      <li><%= link_to("data and privacy on GOV.UK Chat (opens in a new tab)",
                      privacy_path,
                      class: "govuk-link",
                      target: "_blank",
                      rel: "noopener") %></li>
    </ul>
  </div>
</div>
