<% if topics.present? %>
  <%= render "govuk_publishing_components/components/summary_list", {
    title: "Topics",
    heading_size: "l",
    heading_level: 2,
    margin_bottom: 4,
    items: [
      {
        field: "Primary topic",
        value: topics.primary_topic.humanize,
      },
      {
        field: "Secondary topic",
        value: topics.secondary_topic&.humanize,
      },
    ],
  } %>

  <% if topics.llm_responses.present? %>
    <%= render "govuk_publishing_components/components/details", {
      title: "LLM responses",
    } do %>
      <% topics.llm_responses.each do |namespace, response| %>
        <h3 class="govuk-heading-m"><%= namespace %></h3>
        <p class="govuk-body">
          <%= render("components/code_snippet", content: JSON.pretty_generate(response)) %>
        </p>
      <% end %>
    <% end %>
  <% end %>

  <% if topics.metrics.present? %>
    <%= render "govuk_publishing_components/components/details", {
      title: "Metrics",
    } do %>
      <%= render "govuk_publishing_components/components/summary_list", {
        items: topics.metrics.map do |metric, value|
          {
            field: metric,
            value: value,
          }
        end,
        borderless: true,
      } %>
    <% end %>
  <% end %>
<% end %>

<% if answer_relevancy_runs.present? %>
  <%= render "generic_auto_evaluation_runs", runs: answer_relevancy_runs, title: "Answer relevancy" %>
<% end %>

<% if coherence_runs.present? %>
  <%= render "generic_auto_evaluation_runs", runs: coherence_runs, title: "Coherence" %>
<% end %>
