<%
  conversation = filter.conversation
  signon_user = filter.signon_user
%>

<%= form_with(url: admin_questions_path, method: :get) do %>
  <% if signon_user.present? %>
    <p class="govuk-body">
      Filtering by Signon user: <%= signon_user.name %>
    </p>
    <%= hidden_field_tag(:signon_user_id, params[:signon_user_id]) %>
  <% end %>

  <% if filter.end_user_id.present? %>
    <p class="govuk-body">
    Filtering by end user: "<%= filter.end_user_id %>"
    </p>
    <%= hidden_field_tag(:end_user_id, params[:end_user_id]) %>
  <% end %>

  <% if conversation.present? %>
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">
      Filtering by conversation ID:
    </p>
    <p class="govuk-body">
      <%= conversation.id %>
    </p>
    <%= hidden_field_tag(:conversation_id, params[:conversation_id]) %>
  <% end %>

  <% if filter.conversation_session_id.present? %>
    <p class="govuk-body">
      Filtering by conversation session ID: <%= filter.conversation_session_id %>
    </p>
    <%= hidden_field_tag(:conversation_session_id, params[:conversation_session_id]) %>
  <% end %>

  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: "Search",
    },
    name: "search",
    id: "search",
    value: params[:search],
    heading_size: "s",
    full_width: true,
  } %>

  <%= render "govuk_publishing_components/components/select", {
    id: "status",
    name: "status",
    label: "Status",
    heading_size: "s",
    options: ([""] + Rails.configuration.answer_statuses.keys).map do |status|
      status_config = Rails.configuration.answer_statuses[status]
      {
        text: status_config&.label_and_description || status_config&.label,
        value: status,
        selected: params[:status] == status,
      }
    end,
  } %>

  <%= render "govuk_publishing_components/components/select", {
    id: "source",
    name: "source",
    label: "Source",
    heading_size: "s",
    full_width: true,
    options: [
      {
        text: "",
        value: "",
      },
      {
        text: "Web",
        value: "web",
        selected: params[:source] == "web",
      },
      {
        text: "API",
        value: "api",
        selected: params[:source] == "api",
      },
    ],
  } %>

  <%= render "govuk_publishing_components/components/fieldset", {
    legend_text: "Start date",
    heading_size: "s",
    id: "start_date",
  } do %>
    <%= render "govuk_publishing_components/components/date_input", {
      error_items: error_items(filter, :start_date_params),
      items: [
        {
          label: "Day",
          name: "start_date_params[day]",
          id: "start_date_params",
          width: 2,
          value: params.dig(:start_date_params, :day),
        },
        {
          label: "Month",
          name: "start_date_params[month]",
          width: 2,
          value: params.dig(:start_date_params, :month),
        },
        {
          label: "Year",
          name: "start_date_params[year]",
          width: 4,
          value:  params.dig(:start_date_params, :year),
        },
      ],
    } %>
  <% end %>

  <%= render "govuk_publishing_components/components/fieldset", {
    legend_text: "End date",
    heading_size: "s",
    id: "end_date",
  } do %>
       <%= render "govuk_publishing_components/components/date_input", {
      error_items: error_items(filter, :end_date_params),
      items: [
        {
          label: "Day",
          name: "end_date_params[day]",
          id: "end_date_params",
          width: 2,
          value: params.dig(:end_date_params, :day),
        },
        {
          label: "Month",
          name: "end_date_params[month]",
          width: 2,
          value: params.dig(:end_date_params, :month),
        },
        {
          label: "Year",
          name: "end_date_params[year]",
          width: 4,
          value:  params.dig(:end_date_params, :year),
        },
      ],
    } %>
  <% end %>

  <%= render "govuk_publishing_components/components/select", {
    id: "answer_feedback_useful",
    name: "answer_feedback_useful",
    label: "Answer useful",
    heading_size: "s",
    full_width: true,
    options: [
      {
        text: "",
        value: "",
      },
      {
        text: "Useful",
        value: "true",
        selected: params[:answer_feedback_useful] == "true",
      },
      {
        text: "Not useful",
        value: "false",
        selected: params[:answer_feedback_useful] == "false",
      },
    ],
  } %>

  <%= render "govuk_publishing_components/components/select", {
    id: "question_routing_label",
    name: "question_routing_label",
    label: "Question routing label",
    heading_size: "s",
    full_width: true,
    options: [{text: "", value: ""}] + Rails.configuration.question_routing_labels.keys.map do |label|
      {
        text: Rails.configuration.question_routing_labels[label][:label],
        value: label,
        selected: params[:question_routing_label] == label,
      }
    end,
  } %>

  <%= render "govuk_publishing_components/components/select", {
    id: "primary_topic",
    name: "primary_topic",
    label: "Primary topic",
    heading_size: "s",
    full_width: true,
    options: [{text: "", value: ""}] + Rails.configuration.question_topics.map do |topic|
      {
       text: topic.humanize,
       value: topic,
       selected: params[:primary_topic] == topic,
      }
    end,
  } %>

  <%= render "govuk_publishing_components/components/select", {
    id: "secondary_topic",
    name: "secondary_topic",
    label: "Secondary topic",
    heading_size: "s",
    full_width: true,
    options: [{text: "", value: ""}] + Rails.configuration.question_topics.map do |topic|
      {
       text: topic.humanize,
       value: topic,
       selected: params[:secondary_topic] == topic,
      }
    end,
  } %>

  <%= render "govuk_publishing_components/components/select", {
    id: "completeness",
    name: "completeness",
    label: "Completeness",
    heading_size: "s",
    full_width: true,
    options: [{text: "", value: ""}] + Answer::completenesses.values.map do |value|
      {
       text: value.humanize,
       value: value,
       selected: params[:completeness] == value,
      }
    end,
  } %>

  <%= render "govuk_publishing_components/components/button", {
    text: "Filter",
    margin_bottom: true,
  } %>

  <p class="govuk-body">
    <%= link_to "Clear all filters",
                admin_questions_path,
                class: "govuk-link govuk-link--no-visited-state" %>
  </p>
<% end %>
