<%= content_for :title, "Question details" %>

<%= content_for :breadcrumbs do %>
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    collapse_on_mobile: true,
    breadcrumbs: [
      {
        title: "Questions",
        url: admin_questions_path,
      },
      {
        title: "Question details",
      },
    ],
  } %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= render "govuk_publishing_components/components/summary_list", {
      items: question_show_summary_list_rows(@question, @answer, @question_number, @total_questions),
    } %>

     <% if @answer&.llm_responses.present? %>
      <%= render "govuk_publishing_components/components/details", {
        title: "LLM responses",
      } do %>
        <% @answer.llm_responses.sort.each do |namespace, response| %>
          <h3 class="govuk-heading-m"><%= namespace %></h3>
          <p class="govuk-body">
            <%= render("components/code_snippet", content: JSON.pretty_generate(response)) %>
          </p>
        <% end %>
      <% end %>
    <% end %>

    <% if @answer&.metrics&.present? %>
      <%= render "govuk_publishing_components/components/details", {
        title: "Metrics",
      } do %>
        <% @answer.metrics.sort.each do |namespace, metrics| %>
          <%= render "govuk_publishing_components/components/summary_list", {
            title: namespace,
            items: metrics.map do |metric, value|
              {
                field: metric,
                value: value,
              }
            end,
            borderless: true,
          } %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
