<%
content_for(:title, "Delete early access user")
content_for(:active_navigation_item, admin_early_access_users_path)
%>

<%= content_for :breadcrumbs do %>
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    collapse_on_mobile: true,
    breadcrumbs: [
      {
        title: "Early access users",
        url: admin_early_access_users_path,
      },
      {
        title: "User details",
        url: admin_early_access_user_path(@user),
      },
      {
        title: "Delete user",
      },
    ],
  } %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">Are you sure you want to delete this user?</p>

    <p class="govuk-body">Their conversations will not be deleted.</p>

    <p class="govuk-body">You may want to revoke this user's access instead. Revoking accesss will prevent them from signing up again with the same email address.</p>

    <%= form_with url: admin_early_access_user_path(@user), method: :delete, class: "govuk-!-display-inline-block" do |f| %>
      <%= render "govuk_publishing_components/components/button", {
        text: "Yes, delete this user",
        destructive: true,
      } %>
    <% end %>

    <%= render "govuk_publishing_components/components/button", {
      text: "Revoke access instead",
      href: revoke_admin_early_access_user_path(@user),
      destructive: true,
    } %>
  </div>
</div>
