<%= content_for :title, "New early access user" %>

<%= content_for :breadcrumbs do %>
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    collapse_on_mobile: true,
    breadcrumbs: [
      {
        title: "Early access users",
        url: admin_early_access_users_path,
      },
      {
        title: "New early access user",
      },
    ],
  } %>
<% end %>

<%= render "shared/error_summary",
  model: @form,
  anchor_mappings: {
    email: "#create_early_access_user_form",
  } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: admin_early_access_users_path, method: :post do |f| %>
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Email address",
        },
        name: "create_early_access_user_form[email]",
        id: "create_early_access_user_form",
        value: @form.email,
        error_items: error_items(@form, :email),
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: "Submit",
      } %>
    <% end %>
  </div>
</div>
