<%= render "govuk_publishing_components/components/layout_for_admin", {
  environment: GovukPublishingComponents::AppHelpers::Environment.current_acceptance_environment,
  product_name: "Chat Admin",
  browser_title: yield(:title),
  js_filename: "admin",
  css_filename: "admin",
} do %>
  <%= render "govuk_publishing_components/components/layout_header", {
    environment: GovukPublishingComponents::AppHelpers::Environment.current_acceptance_environment,
    product_name: "Chat Admin",
    logo_link: admin_homepage_path,
    navigation_items: [
      { text: "Visit chat", href: homepage_path },
      { text: "Metrics", href: admin_metrics_path },
      { text: "Questions", href: admin_questions_path },
      { text: "Search", href: admin_search_path },
      { text: "Early access users", href: admin_early_access_users_path },
      { text: "Waiting list users", href: admin_waiting_list_users_path },
      { text: "Settings", href: admin_settings_path },
      { text: Current.admin_user.name, href: Plek.external_url_for("signon") },
      { text: "Log out", href: gds_sign_out_path },
    ],
  } %>
  <%= render "govuk_publishing_components/components/skip_link" %>

  <div class="govuk-width-container">
    <%= yield(:back_link) %>
    <%= yield(:breadcrumbs) %>

    <main class="govuk-main-wrapper<%= " govuk-main-wrapper--l" if yield(:back_link).blank? %>" id="content" role="main">
      <% if content_for?(:error_summary) %>
        <%= yield(:error_summary) %>
      <% elsif flash["notice"] %>
        <%= render "govuk_publishing_components/components/success_alert", {
          message: flash["notice"],
        } %>
      <% end %>

      <% if yield(:title).present? %>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <%= render "govuk_publishing_components/components/title", {
              context: yield(:title_context),
              title: yield(:title),
            } %>
          </div>
        </div>
      <% end %>

      <%= yield %>
    </main>
  </div>
<% end %>
