<% content_for :custom_header do %>
  <%= render "govuk_publishing_components/components/layout_header", {
    environment: "experimental",
    product_name: "Chat",
    navigation_items: [
      {
        text: "About",
        href: "/about"
      },
      {
        text: "Privacy",
        href: "/privacy"
      },
      {
        text: "Support",
        href: "/support"
      }
    ],
  } %>
<% end %>

<%= render 'govuk_publishing_components/components/layout_for_public',
  product_name: "Chat",
  environment: GovukPublishingComponents::AppHelpers::Environment.current_acceptance_environment,
  show_search: false,
  omit_feedback_form: true,
  omit_footer_border: true,
  hide_footer_links: true,
  blue_bar: false,
  custom_layout: true do 
%>
  <main class="<%= yield(:main_class) || "govuk-main-wrapper" %>" id="content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full-width">
        <% if yield(:error_summary).blank? %>
          <% if flash["notice"].present? %>
            <%= render "govuk_publishing_components/components/success_alert", {
              message: flash["notice"]
            } %>
          <% end %>

          <% if flash["alert"].present? %>
            <%= render "govuk_publishing_components/components/error_alert", {
              message: flash["alert"]
            } %>
          <% end %>
        <% end %>

        <%= yield(:error_summary) %>
      </div>
    </div>

    <% if yield(:title).present? %>
      <div class="govuk-width-container">
        <div class="govuk-grid-row <%= yield(:visually_hidden_class) || "" %>">
          <div class="govuk-grid-column-two-thirds">
            <%= render "govuk_publishing_components/components/title", {
              context: yield(:title_context),
              title: yield(:title),
            } %>
          </div>
        </div>
      </div>
    <% end %>

    <%= yield %>
  </main>
<% end %>
