<%
  conversation_layout ||= false
  body_classes = %w[govuk-template__body]
  body_classes << "app-conversation-layout__body" if conversation_layout
  body_classes << yield(:body_class)
%>
<%= tag.html(class: %w[govuk-template] + (conversation_layout ? %w[app-conversation-layout] : []),
             lang: "en") do %>
  <head>
    <meta charset="utf-8">
    <title><%= yield(:title) %></title>

    <%# Used for Google Analytics 4 debugging. Must be placed before load-analytics script. %>
    <meta name="govuk:components_gem_version" content="<%= GovukPublishingComponents::VERSION %>">
    <%= javascript_include_tag "analytics", nonce: true %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all" %>

    <link rel="icon" sizes="48x48" href="<%= asset_path "favicon.ico" %>">
    <link rel="icon" sizes="any" href="<%= asset_path "favicon.svg" %>" type="image/svg+xml">
    <link rel="mask-icon" href="<%= asset_path "govuk-icon-mask.svg" %>" color="#0b0c0c">
    <link rel="apple-touch-icon" href="<%= asset_path "govuk-icon-180.png" %>">

    <meta name="theme-color" content="#0b0c0c">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:image" content="<%= asset_url("govuk-opengraph-image.png", host: Plek.website_root) %>">
  </head>
  <%= tag.body(class: body_classes) do %>
    <script type="module" nonce="<%= request.content_security_policy_nonce %>">
      document.body.className += ' js-enabled govuk-frontend-supported';
    </script>
    <%= render "govuk_publishing_components/components/cookie_banner", {} %>
    <%= render "govuk_publishing_components/components/skip_link", {
      href: "#content",
    } %>

    <%= render "components/chat_header", {
      navigation_items: [
        {
          text: "About",
          href: "/chat/about",
        },
        {
          text: "Help and support",
          href: "/chat/support",
        },
      ],
    } %>

    <% if conversation_layout %>
      <%= yield(:content) %>
    <% else %>
      <main class="govuk-main-wrapper" id="content" role="main">
        <% if content_for?(:title) %>
          <div class="govuk-width-container">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <%= render "govuk_publishing_components/components/title", {
                  context: yield(:title_context),
                  title: yield(:title),
                } %>
              </div>
            </div>
          </div>
        <% end %>

        <div class="govuk-width-container">
          <%= yield %>
        </div>
      </main>
    <% end %>

    <%= javascript_include_tag "application-legacy", nonce: true %>
    <%= javascript_include_tag "application", type: "module", nonce: true %>
  <% end %>
<% end %>
