<%
  @conversation_data_attributes ||= {}
  page_title = (content_for?(:page_title) ? yield(:page_title) : yield(:title)).presence
%>

<% content_for :alerts do %>
  <% if content_for?(:error_summary) %>
    <div class="app-conversation-layout__alerts js-conversation-alert">
      <%= yield(:error_summary) %>
    </div>
  <% else %>
    <% if flash["notice"].present? %>
      <%
         notice = flash["notice"].is_a?(Hash) ? flash["notice"] : { "message" => flash["notice"] }
         if notice["link_text"] && notice["link_href"]
           alert_description = link_to(notice["link_text"], notice["link_href"], class: %w[govuk-link govuk-notification-banner__link])
         end
      %>
      <div class="app-conversation-layout__alerts js-conversation-alert">
        <%= render "govuk_publishing_components/components/success_alert", {
          message: notice["message"],
          description: alert_description,
          margin_bottom: 0,
        } %>
      </div>
    <% end %>
  <% end %>
<% end %>

<% content_for :content do %>
  <main class="app-conversation-layout__main" id="content" role="main" data-module="conversation-onboarding-flow">
    <%= tag.div(class: "app-conversation-layout__wrapper js-module-wrapper", data: @conversation_data_attributes) do %>
      <div class="app-conversation-layout__message-container" aria-labelledby="chat-history" role="region">
        <div class="app-conversation-layout__width-container">
          <%= yield(:alerts) if content_for?(:alerts) %>

          <h1 class="govuk-visually-hidden js-title"><%= page_title %></h1>

          <div class="js-conversation-message-lists" data-progressive-disclosure-delay="<%= Rails.configuration.conversation_js_progressive_disclosure_delay || 2000 %>">
            <h2 id="chat-history" class="govuk-visually-hidden">Chat history</h2>
            <ul class="app-conversation-layout__list js-message-history-list">
              <%= yield(:message_history) %>
            </ul>

            <div tabindex="-1" role="region" aria-labelledby="new-messages" class="js-new-messages-region">
              <h2 id="new-messages" class="govuk-visually-hidden">New messages</h2>
              <ul class="app-conversation-layout__list js-new-messages-list">
                <%= yield(:new_messages) %>
              </ul>
            </div>

            <%= render "conversations/loading_messages" %>
          </div>
        </div>
      </div>

      <div class="app-conversation-layout__form-container">
        <div class="app-conversation-layout__width-container js-form-container">
          <%= yield(:form) %>
        </div>
      </div>

    <% end %>
  </main>
<% end %>

<%= render template: "layouts/application", locals: { conversation_layout: true } %>
