<% @conversation_data_attributes ||= {} %>
<% content_for :alerts do %>
  <div class="app-conversation-layout__width-container">
    <% if content_for?(:error_summary) %>
      <div class="app-conversation-layout__alerts">
        <%= yield(:error_summary) %>
      </div>
    <% else %>
      <% if flash["notice"].present? %>
        <div class="app-conversation-layout__alerts">
          <%= render "govuk_publishing_components/components/success_alert", {
            message: flash["notice"],
          } %>
        </div>
      <% end %>

      <% if flash["alert"].present? %>
        <div class="app-conversation-layout__alerts">
          <%= render "govuk_publishing_components/components/error_alert", {
            message: flash["alert"],
          } %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<% content_for :content do %>
  <main class="app-conversation-layout__main" id="content" role="main" data-module="conversation-onboarding-flow">
    <%= yield(:alerts) if content_for?(:alerts) %>

    <% if content_for?(:title) %>
      <h1 class="govuk-visually-hidden"><%= yield(:title) %></h1>
    <% end %>

    <%= tag.div(class: "app-conversation-layout__wrapper", data: @conversation_data_attributes) do %>
      <div class="app-conversation-layout__message-container">
        <div class="app-conversation-layout__width-container">
          <ul class="app-conversation-layout__list js-conversation-list">
            <%= yield %>
          </ul>
        </div>
      </div>

      <div class="app-conversation-layout__form-container">
        <div class="app-conversation-layout__width-container">
          <%= yield(:form) %>
        </div>
      </div>
    <% end %>
  </main>
<% end %>

<%= render template: "layouts/application", locals: { conversation_layout: true } %>
